pkgbase = kubernetes
	pkgdesc = Production-Grade Container Scheduling and Management
	pkgver = 1.13.1
	pkgrel = 1
	url = http://kubernetes.io/
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = rsync
	makedepends = go-bindata
	depends = glibc
	depends = bash
	optdepends = etcd: etcd cluster required to run Kubernetes
	noextract = kubernetes-1.13.1.tar.gz
	backup = etc/kubernetes/kubelet
	source = kubernetes-1.13.1.tar.gz::https://dl.k8s.io/v1.13.1/kubernetes-src.tar.gz
	source = kubelet
	source = kubelet.service
	sha256sums = 70a088fcf60a46e2b470d3e7a673447f6cfc62b3d9fab4b1d0eb82ede8e5ed03
	sha256sums = 3240aa7b4c6c3c19f23e3a664f8c7ce8f44294c2fa00cc90df1e7bcc8d067be3
	sha256sums = b9e6850042a9cfda12ba74737917c09b5eefe44431996ed281bc657cec341e87

pkgname = kubernetes

